.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(135, 41, 7);
  color: white;
}

.header h1 {
  margin: 0;
  padding-bottom: 8px;
}

.header h1:hover{
  cursor: pointer;
}

.header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin-left: 20px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}
